

<body class="page page-id-3187 page-template page-template-page-team-php team">
	<div id="page" class="hfeed site">
		
		
					
		
		<div id="hero">
			<div class="site-width" style="margin-bottom:500px">
				<h1 style="text-align:center; position:relative; bottom:50px; color: E6E8FA">About</h1>
<h2 style="color:white; margin-bottom: 600px">
  Before long, you'll be able to view shopping graphers for new cars, digital cameras, and tablots. If you have any ideas, comments, or suggestions, please do not hesitate to
  <a href=mailto:matthewdschulman@gmail.com.>send an email</a>.
</h2>
			</div>
		</div>
	