<body class ="page page-id-3187 page-template page-template-page-team-php team">
  <div id="page"class="hfeed site">
    <div id="primary" class="content-area"style="background-color:black"><div id="content" class ="site-content" role="main"><div class="entry-content"><h1 style="margin-top:125px; text-align:center">Apple MacBook Pro MC976LL/A</h1>
            </div>    
        </div>
      </div>

      <div id="primary" class="content-area"style="background-color:white">
          <div class="entry-content"style="margin-right:100px">        
            

<h2 style="margin-top:10px; margin-left: 49px">
 <input type="button" value="Search for this Computer on Google" onclick="window.open('http://google.com/#q=Apple MacBook Pro MC976LL/A')"style="font-size:40%">
 <input type="button" value="Buy this Computer Now" onclick="window.open('http://www.newegg.com/Product/Product.aspx?Item=N82E16834100225')" style="font-size:40%">
</h2>
 <h2>Specifications</h2>
 <table style="margin-left:100px; margin-right:100px; width:84%"class="table table-hover"<tr><td>Brand</td><td>Apple</td></tr><tr><td>Series</td><td>MacBook Pro</td></tr><tr><td>Model</td><td>MC976LL/A</td></tr><tr><td>Price</td><td>2599.99</td></tr><tr><td>Touch Screen?</td><td>Does Not Have a Touchscreen</td></tr><tr><td>Operating System</td><td>Mac OS X v10.7 Lion</td></tr><tr><td> CPU Type </td><td>Intel Core i7 2.6GHz</td></tr><tr><td>CPU Processor</td><td>2.6GHz</td></tr><tr><td>Memory Size</td><td>8 GB</td></tr><tr><td>Cache</td><td>6MB L3</td></tr><tr><td>Video Memory </td><td>1GB</td></tr><tr><td> Graphics Card </td><td>NVIDIA GeForce GT 650M Switchable Graphics</td></tr><tr><td>Solid State Drive (SSD)?</td><td>512GB SSD</td></tr><tr><td>Hard Drive Size</td><td>512 GB</td></tr><tr><td>Hard Drive RPM </td><td>5400rpm</td></tr><tr><td>Weight</td><td>4.46 Lbs</td></tr><tr><td>Battery Life</td><td>Up to 7 Hours</td></tr><tr><td> Screen Size</td><td>15.4"</td></tr><tr><td>Resolution of Max Dimension </td><td>2880 x 1800 (Retina)</td></tr><tr><td>HDMI?</td><td>Has HDMI</td></tr><tr><td>VGA?</td><td>Does Not Have VGA</td></tr><tr><td>Bluetooth?</td><td>Has Bluetooth</td></tr><tr><td> URL to Purchase Computer</td><td>http://www.newegg.com/Product/Product.aspx?Item=N82E16834100225</td></tr></table></div></div></div></div><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-46887121-1', 'shopnplot.com'); ga('send', 'pageview');</script>