<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Before long, you'll be able to view shopping graphers for new cars, digital cameras, and tablots. If you have any ideas, comments, or suggestions, please do not hesitate to
  <a href=mailto:matthewdschulman@gmail.com.>send an email</a>.
</p>

