<body class="home page page-id-2692 page-template page-template-page-home-php home-page">
    <div id="page" class="hfeed site">      
        <div id="hero">
            <div class="video-wrap">
                <video autoplay width="100%">
					<source src="https://dl.dropboxusercontent.com/u/61965692/applenyc.mp4" type="video/mp4" />		
				</video>
            </div>
            <div class="site-width">
                <h1>Shop 'N Plot<br><span>Stop. Shop. Plot. </span></h1>
            </div>
        </div>
        <div id="main" class="site-main">
	        <div class="abstract" style="background-color:black;">
	            <div class="site-width">
	                <h2><span>Welcome </span>to a new age of savvy shopping.</h2>
	                <p style="color:white">Select attributes that matter, and view a dynamic graph of products catered to your preferences. </p> 	                
					<p style="margin-top: 50px">Scroll down to learn more <a href="../laptops">or click here to begin plotting laptops</a>.</p>
				</div> 
	          
	            <div class="fill" style="background-color:black"></div>  
	        </div>


	        <div id="primary" class="content-area" >
				<div id="content" class="site-content" role="main">
					<div class="entry-content">
						<h2 style="margin-top: 75px">Select attributes that matter the most&ndash;</h2>
						<p>One attribute for each axis, one for the bubbles' colors, and one for the bubbles' sizes.</p>
						<div style="text-align: center; margin-bottom: 75px">
							<video autoplay width="60%">
								<source src="https://dl.dropboxusercontent.com/u/61965692/stage1.mp4" type="video/mp4">		
							</video>
						</div>
					</div>
				</div>
				<div class="fill" style="background-color:black"></div>  
			</div>



			<div id="primary" class="content-area" style="background-color:black;">
				<div id="content" class="site-content" role="main">
					<div class="entry-content">
						<h2 style="color:white; margin-top: 75px">Zoom in on the region of the graph that matches your preferences.</h2>
						<p style="color:white">To zoom in, click and drag around the region of interest, click zoom in, and then click enter.</p>
						<div style="text-align: center;">
							<video autoplay width="60%" style="margin-bottom: 75px">
								<source src="https://dl.dropboxusercontent.com/u/61965692/stage2.mp4" type="video/mp4">		
							</video>
						</div>
					</div>
				</div>
			</div>
		

			<div id="primary" class="content-area" >
				<div id="content" class="site-content" role="main">
					<div class="entry-content">
						<h2 style="margin-top:75px">Browse products that interest you.</h2>
						<p>Click on a product's bubble to open a new tab that contains its specifications.</p>
						<div style="text-align: center;">
							<video autoplay width="60%" style="margin-bottom:75px">
								<source src="https://dl.dropboxusercontent.com/u/61965692/stage3.mp4" type="video/mp4">		
							</video>
						</div>
					</div>
				</div>
				<div class="fill" style="margin-bottom: 500px;"></div> 
			</div>

			<div id="primary" class="content-area" style="background-color:black;">
				<div id="content" class="site-content" role="main">
					<div class="entry-content">
						<h2 style="color:white; margin-top: 75px">Explore the specifications.</h2>
						<p style="color:white">If you like the product, search for it on Google and/or buy it.</p>
						<div style="text-align: center;">
							<video autoplay width="60%" style="margin-bottom: 75px">
								<source src="https://dl.dropboxusercontent.com/u/61965692/stage4.mp4" type="video/mp4">		
							</video>
						</div>
					</div>
				</div>
			</div></div>

			<div id="primary" class="content-area" >
				<div id="content" class="site-content" role="main">					
					<div class="entry-content">
						<FORM METHOD="LINK" ACTION="../laptops" style="text-align: center; color:green; margin-top:540px">
						<INPUT TYPE="submit" VALUE="Click here to begin">
						</FORM>
						<h2 style="margin-bottom:50px">Happy Shopping!</h2>
						
					</div>
				
            





		<div class="fill" style="margin-bottom: 500px;"></div>
	</div>	        
</div>

<script type='text/javascript' src='http://cantina.co/wp-content/plugins/wp-retina-2x/js/retina.js?ver=1.1.0'></script>
<script type='text/javascript' src='http://cantina.co/wp-content/themes/twentythirteen-cantina/js/jquery.isotope.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://cantina.co/wp-content/themes/twentythirteen-cantina/js/main.js?ver=1'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46887121-1', 'shopnplot.com');
  ga('send', 'pageview');

</script>

        