<body class="home page page-id-2692 page-template page-template-page-home-php home-page">
    <div id="page" class="hfeed site">
       

        
                    
        <div id="class" class="site-width" style="position:fixed; top:200px; left:45px">
                <h1 style="color:#192E19">Befriend a Mentor <br><span>Join the Ivy League Community</span></h1>
            </div>
        <div id="hero" style="background-image: url(http://www.theivyleague-rc2clan.org/wp-content/uploads/2013/07/banner.jpg); opacity:0.05; margin-top:80px">
            
        </div>
        <div id="main" class="site-main">
        <div class="abstract">
            <div class="site-width">
                <h2><span>Inspired</span> by students for students </h2>
                <p style="color:#C4F2C4">The Ivy Mentor matches qualified high school students with current Ivy Leaguers.</p>
            </div>
            <div class="fill"></div>    
        </div>  
        <div id="primary" class="content-area">
        <div id="content" class="site-content" role="main">
        <div class="entry-content">
            <h2>All Ivy Mentors know the idiosyncrasies of Ivy League admissions.</h2>
            <p>Essay strategies. Application advice. Interview prep. Networking connections.</p>
        
        </div><!-- .entry-content -->

<div id="images_hz" style="width:100%; text-align:center">
<img src="https://media.licdn.com/media/p/8/005/046/2b7/0008aef.jpg" alt="" style="width:100px"/>
<img src="https://media.licdn.com/media/p/8/000/2b2/2cc/2243b38.jpg" alt="" style="width:100px"/>
<img src="https://media.licdn.com/media/p/6/000/1d3/2d6/256df5c.jpg" alt="" style="width:100px"/>
<img src="https://media.licdn.com/media/p/5/000/1e3/050/2dba7e2.jpg" alt="" style="width:100px"/>
</div>
            <div id="related-content">  
    <div class="site-width">
        <div class="card background-1"> 
            <div>              
              <h3>Find a mentor</h3>
              <h4 style="width:80%; text-align:center; position:relative; left:25px; top:-40px">Browse mentor profiles. View their interests. Review their strengths. Choose the best of the best.</h4>
            </div>
            <a href="/FindAMentor" class="cta">BROWSE IVY MENTORS</a>
        </div>
        <div class="card background-2"> 
            <div>              
              <h3>Interview your mentor</h3>
              <h4 style="width:80%; text-align:center; position:relative; left:25px; top:-40px">Skype, talk, or chat with your mentor. Determine if the mentor has the skills you desire. If you dislike the mentor, choose another mentor to interview free of charge.</h4>
            </div>
            <a href="/FindAMentor" class="cta">TALK TO A MENTOR NOW</a>
        </div>
        <div class="card background-3"> 
            <div>              
              <h3>Join the community</h3>
              <h4 style="width:80%; text-align:center; position:relative; left:25px; top:-40px">The mentor can help with essay strategies, essay revisions, admissions strategies, interview preparation, school-specific strategies, and fit evaluations. Furthermore, if you desire, the mentor can introduce you to a current student or professor at any of the eight Ivies, Stanford, Duke, or MIT.</h4>
            </div>
            <a href="/FindAMentor" class="cta">READ TESTIMONIALS</a>
        </div>
        <div class="card background-4"> 
            <div>              
              <h3>Leverage the relationship</h3>
              <h4 style="width:80%; text-align:center; position:relative; left:25px; top:-40px">After admissions decisions are released, the mentor can help with your college decision and introduce you to friends at the school you choose to attend. Enter freshman year with connections.</h4>
            </div>
            <a href="/FindAMentor" class="cta">JOIN THE NETWORK NOW</a>
        </div>
      </div>
</div>                      

        
<!-- YOAST -->

            <script type="text/javascript">//<![CDATA[
            // Google Analytics for WordPress by Yoast v4.3.3 | http://yoast.com/wordpress/google-analytics/
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2831754-1']);
                            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            //]]></script>
                </div><!-- #primary -->
</div><!-- #main -->
</div><!-- #page -->

<script type='text/javascript' src='http://cantina.co/wp-content/plugins/wp-retina-2x/js/retina.js?ver=1.1.0'></script>
<script type='text/javascript' src='http://cantina.co/wp-content/themes/twentythirteen-cantina/js/jquery.isotope.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://cantina.co/wp-content/themes/twentythirteen-cantina/js/main.js?ver=1'></script>
</body>