<div class="center hero-unit">
  <h1>Welcome to the Shopping Grapher</h1>
  <h2>
    Select Attributes that Matter and become a Savvy Shopper.
  </h2>
  <form>
<p align="center"><b>Select an Item to Graph </b>
<select id="setit" style="color: #0000FF" size="1" name="test">
<option value=""></option>
    <option value="../laptops">Laptop Computers</option>
     <input type="button" value="Go"
onclick="window.open(setit.options[setit.selectedIndex].value)">
</p></form>
</div>