<body class="page page-id-3187 page-template page-template-page-team-php team">
  <div id="page" class="hfeed site">
    <div id="primary" class="content-area" style="background-color:black">
        <div id="content" class="site-content" role="main">
            <div class="entry-content">
              <h1 style="text-align:center; margin-top: 100px; color: E6E8FA">Laptop Computers</h1>
        <h2 style="color:white">
          Laptops mentioned in 
          <a href='http://www.laptopmag.com/best-laptops.aspx'target=newtab>LaptopMag's Best Laptops of 2014</a> and the 15 most popular MacBooks are included. 
        </h2>   
            </div>    
        </div>
      </div>

      <div id="primary" class="content-area" style="background-color:white">
          <div class="entry-content">        
            <div id="chart_div" style="text-align:center; margin-top:50px"></div>     
              <div style="position:relative">
                <div style="background-color:white;position:absolute;left:413px; bottom:20px; width:200px;height:27px;">
                </div>
              </div>   
            </div>    
          </div>
      </div>


<div id="primary" class="content-area" style="background-color:#f7f6f4">
  <h2 style="color:black; position:relative; top:10px">Recommendations Based on Shop 'N Plot's Findings</h2>
<table style="color:black; margin-left: 10px">
<thead>
<tr>
<th>If you care most about…</th>
<th>The best option under $750 is…</th>
<th>The best option under $1500 is…</th>
<th>The best option above $1500 is…</th>
</tr>
</thead>
<tr>
<td>Processor Speed</td>
<td><a href='/ThinkPadEdgeE43162775AU'target=newtab>ThinkPad Edge E431 (62775AU)</a></td>
<td><a href='/DellLatitudeE64304694216'target=newtab>Dell Latitude E6430 (469-4216)</a></td>
<td><a href='/AppleMacBookProME665LLA'target=newtab>Apple MacBook Pro ME665LL/A</a></td>
</tr>
<tr>
<td>Memory</td>
<td><a href='/AcerAspireMM5583P6428'target=newtab>Acer Aspire M M5-583P-6428</a></td>
<td><a href='/LenovoIdeaPadY510P59375624'target=newtab>Lenovo IdeaPad Y510P (59375624)</a></td>
<td><a href='/AppleMacBookProwithRetinaDisplayME294LLA'target=newtab>Apple MacBook Pro with Retina Display</a></td>
</tr>
<tr>
<td>Having a Touch Screen</td>
<td><a href='/ToshibaSatelliteL55DtA5253NR'target=newtab>Toshiba Satellite L55Dt-A5253NR</a></td>
<td><a href='/SamsungATIVBook6NP680Z5EX01US'target=newtab>Samsung ATIV Book 6 NP680Z5E-X01US</a></td>
<td><a href='/LenovoIdeaPadYoga1359359564'target=newtab>Lenovo IdeaPad Yoga 13 (59359564)</a></td>
</tr>
<tr>
<td>Portability (weight and battery life)</td>
<td><a href='/SamsungXE303C12A01US'target=newtab>Samsung XE303C12-A01US Chromebook</a></td>
<td><a href='/AppleMacBookAirMD711LLA'target=newtab>Apple MacBook Air MD711LL/A</a></td>
<td><a href='/LenovoThinkPadX1Carbon3444B9U'target=newtab>Lenovo ThinkPad X1 Carbon 3444B9U</a></td>
</tr>
<tr>
<td>Hard Drive Size</td>
<td><a href='/ToshibaSatelliteL55DtA5253NR'target=newtab>Toshiba Satellite L55Dt-A5253NR</a></td>
<td><a href='/LenovoIdeaPadY510P59375624'target=newtab>Lenovo IdeaPad Y510P (59375624)</a></td>
<td><a href='/ToshibaQosmioX875Q7390'target=newtab>Toshiba Qosmio X875-Q7390</a></td>
</tr>
<tr>
<td>Having a Solid State Hard Drive</td>
<td><a href='/HPPavilion14q070nr'target=newtab>HP Pavilion 14-q070nr Chromebook</a></td>
<td><a href='/AppleMacBookProwithRetinaDisplayME865LLA'target=newtab>Apple MacBook Pro with Retina Display ME865LL/A</a></td>
<td><a href='/AppleMacBookProME665LLA'target=newtab>Apple MacBook Pro ME665LL/A</a></td>
</tr>
<tr>
<td>Screen Resolution</td>
<td><a href='/DellInspiron17i17RV6273BLK'target=newtab>Dell Inspiron 17 (i17RV-6273BLK)</a></td>
<td><a href='/SamsungATIVBook9PlusNP940X3GK01US'target=newtab>Samsung ATIV Book 9 Plus NP940X3G-K01US</a></td>
<td><a href='/AppleMacBookProwithRetinaDisplayME294LLA'target=newtab>Apple MacBook Pro with Retina Display ME294LL/A</a></td>
</tr>
</table>


</div>



    </div>

<script type='text/javascript' src='http://cantina.co/wp-content/plugins/wp-retina-2x/js/retina.js?ver=1.1.0'></script>
<script type='text/javascript' src='http://cantina.co/wp-content/themes/twentythirteen-cantina/js/jquery.isotope.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://cantina.co/wp-content/themes/twentythirteen-cantina/js/main.js?ver=1'></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46887121-1', 'shopnplot.com');
  ga('send', 'pageview');

</script>




  
