
<h1>Laptop Computers</h1>
  	<h2>
	    Laptops mentioned in 
	    <a href='http://www.laptopmag.com/best-laptops.aspx'target=newtab>LaptopMag's Best Laptops of 2014</a> and the most 15 popular MacBooks are included. 
	</h2>


    <p>
    	To use the grapher, select attributes that you care about the most for each axis, the color, and the size of each bubble. To change the attributes, click on the current attribute labels and select from the drop-down list. To zoom in on a crowded region of the graph, click and drag a box around the area of interest, click zoom in, and then click enter. When you find a laptop that interests you, click on the laptop's bubble to see all of its specs.

    	Happy shopping!
    </p>
  

<p>
      <div id="chart_div"></div>
</p>
  	