


<body class="page page-id-3187 page-template page-template-page-team-php team">
  <div id="page" class="hfeed site">
    <div id="primary" class="content-area" style="background-color:black">
        <div id="content" class="site-content" role="main">
            <div class="entry-content">
              <h1 style="text-align:center; margin-top: 100px; color: E6E8FA">Laptop Computers</h1>
        <h2 style="color:white">
          Laptops mentioned in 
          <a href='http://www.laptopmag.com/best-laptops.aspx'target=newtab>LaptopMag's Best Laptops of 2014</a> and the most 15 popular MacBooks are included. 
        </h2>   
            </div>    
        </div>
      </div>

      <div id="primary" class="content-area" style="background-color:white">
          <div class="entry-content">        
            <div id="chart_div" style="text-align:center; margin-top:50px"></div>     
              <div style="position:relative">
                <div style="background-color:white;position:absolute;left:413px; bottom:20px; width:200px;height:27px;">
                </div>
              </div>   
            </div>    
          </div>
      </div>

    </div>

<script type='text/javascript' src='http://cantina.co/wp-content/plugins/wp-retina-2x/js/retina.js?ver=1.1.0'></script>
<script type='text/javascript' src='http://cantina.co/wp-content/themes/twentythirteen-cantina/js/jquery.isotope.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://cantina.co/wp-content/themes/twentythirteen-cantina/js/main.js?ver=1'></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46887121-1', 'polar-wildwood-6649.herokuapp.com');
  ga('send', 'pageview');

</script>




  
