<body class="page page-id-3187 page-template page-template-page-team-php team" style="background-color:black">
  <div id="primary" class="content-area" style="background-color:black">
    <div id="content" class="site-content" role="main">
      <div class="entry-content">
        <h1 style="text-align:center; margin-top: 100px; color: E6E8FA">Laptop Computers</h1>
        <h2 style="color:white">
          Laptops mentioned in 
          <a href='http://www.laptopmag.com/best-laptops.aspx'target=newtab>LaptopMag's Best Laptops of 2014</a> and the most 15 popular MacBooks are included.
        </h2>
        <div id="chart_div" style="text-align:center"></div>
        
      </div>    
    </div>
  </div> 
</body>





  
