<footer class="footer">
  <small>
    Designed and Developed by 
    <a href="mailto:matthewdschulman@gmail.com">Matt Schulman</a>.
  </small>
  <!-- <nav>
    <ul>
      
      <li><a href="http://news.railstutorial.org/">News</a></li> 
    </ul>
  </nav> -->
</footer>