<footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info">
                <div class="site-width">
                <div class="info-block info address">
                    <div>320 Congress St., First Floor <br/>
                    Boston, MA 02210-1238</div>
                </div>
                <div class="info-block info email">
                    <a href="mailto:hello@cantina.co">hello@cantina.co</a>
                </div>
                <div class="info-block info phone">
                    +1 (800) 775-2714
                </div>
                <div class="info-block social">
                    <ul>
                        <li><a href="https://www.facebook.com/pages/Cantina/128999029114" class="facebook"></a></li>
                        <li><a href="https://twitter.com/cantinac" class="twit"></a></li>
                        <li><a href="http://www.linkedin.com/company/cantina" class="linkedin"></a></li>
                        <li><a href="https://github.com/cantinac" class="github"></a></li>
                    </ul>
                </div>
                <div class="copyright clear">All Rights Reserved &copy; 2014 Cantina</div>
                </div>
            </div><!-- .site-info -->
        </footer><!-- #colophon -->