<footer class="footer">
  <small style="margin-left:5px; position:relative; top:5px; float:bottom">   Designed and Developed by 
    <a href="mailto:matthewdschulman@gmail.com">Matt Schulman</a>.
    <a href="http://www.linkedin.com/pub/matthew-schulman/61/118/159">
        <img src="https://dl.dropboxusercontent.com/u/61965692/linkedin.png" alt="linkedin" style="width:2.3%; height:2.3%"/>
      </a>
	<a href="https://github.com/matthewdschulman">
        <img src="https://dl.dropboxusercontent.com/u/61965692/Screen%20Shot%202014-01-07%20at%204.48.54%20PM.png" alt="github" style="width:2.5%; height:2.5%"/>
      </a>
    
      
  </small>

  
  <!-- <nav>
    <ul>
      
      <li><a href="http://news.railstutorial.org/">News</a></li> 
    </ul>
  </nav> -->
</footer>