<footer class="footer">
	<div style="text-align:center; position:relative; top: 76px">
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="http://shopnplot.com/laptops" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="position:relative; bottom:225px; left:330px"></div>
<div class="fb-comments" data-href="http://shopnplot.com/laptops" data-numposts="5" data-colorscheme="light" style="position:relative; top:30px; right: 240px"></div>
</div>

  <small style="margin-left:5px; position:relative; top:100px; float:bottom">   Designed and Developed by 
    <a href="mailto:matthewdschulman@gmail.com">Matt Schulman</a>.
    <a href="http://www.linkedin.com/pub/matthew-schulman/61/118/159">
        <img src="https://dl.dropboxusercontent.com/u/61965692/linkedin.png" alt="linkedin" style="width:1.15%; height:1.15%; position:relative; bottom:2px"/>
      </a>
	
    
      
  </small>

  
  <!-- <nav>
    <ul>
      
      <li><a href="http://news.railstutorial.org/">News</a></li> 
    </ul>
  </nav> -->
</footer>