<header id="masthead" class="site-header light" role="banner">
            

            <div id="navbar" class="navbar" style="color:red">

            <nav id="site-navigation" class="navigation main-navigation" role="navigation">
                


                    <a class="menu-toggle"><i class="icon-reorder"></i></a>
                    <a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>
            <a class="menu-toggle"><i class="icon-reorder"></i></a>
            <a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>
            <div class="menu-site-nav-container" style="float:right; position:relative; left:100px"><ul id="menu-site-nav" class="nav-menu" >


            <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Laptops",   laptops_path %></li>
          <li><%= link_to "About", about_path %></li>
          <a href="/" ><img src="https://dl.dropboxusercontent.com/u/61965692/shopnplot.png" style="width:90px"/></a>


</ul></div>             </nav><!-- #site-navigation -->
            </div><!-- #navbar -->

        </header><!-- #masthead -->




      