 <header id="masthead" class="site-header light" role="banner">
            <a class="home-link" href="http://theivymentor.com/" title="The Ivy Mentor" rel="home">
                <h1 class="site-title">The Ivy Mentor</h1>
            </a>

            <div id="navbar" class="navbar" style="background-color:#192E19">
                <nav id="site-navigation" class="navigation main-navigation" role="navigation">
                    <a class="menu-toggle"><i class="icon-reorder"></i></a>
                    <a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>
                    <div class="menu-site-nav-container"><ul id="menu-site-nav" class="nav-menu"><li id="menu-item-3190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3190">
                        
<li id="menu-item-3468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3468"><a href="" >Find a Mentor</a></li>
<li id="menu-item-3245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3245"><a href="" >Become a Mentor</a></li>
<li id="menu-item-3245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3245"><a href="" >Testimonials</a></li>

</ul></div>       


<div class="menu-secondary-nav-container">
    <ul id="menu-secondary-nav" class="nav-menu secondary">

<li id="menu-item-3470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3470"><a href="" >Contact Us</a></li><a href="/" ><img src="https://www.dropbox.com/s/wicomkcmrodty76/ivyleaguementorlogo.png" style="width:90px"/></a>
</ul></div>             </nav><!-- #site-navigation -->
            </div><!-- #navbar -->
        </header><!-- #masthead -->