<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>The Ivy Mentor</title>
    <link rel="apple-touch-icon" href="/wp-content/themes/twentythirteen-cantina/images/Icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/wp-content/themes/twentythirteen-cantina/images/Icon-72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/wp-content/themes/twentythirteen-cantina/images/Icon-72@2x.png.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/wp-content/themes/twentythirteen-cantina/images/Icon-72@2x.png" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="http://cantina.co/xmlrpc.php">
    <!--[if lt IE 9]>
    <script src="http://cantina.co/wp-content/themes/twentythirteen/js/html5.js"></script>
    <![endif]-->
    <meta name='robots' content='noindex,nofollow' />
<link rel="alternate" type="application/rss+xml" title="Cantina &raquo; Feed" href="http://cantina.co/feed/" />
<link rel="alternate" type="application/rss+xml" title="Cantina &raquo; Comments Feed" href="http://cantina.co/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Cantina &raquo; Home Page Comments Feed" href="http://cantina.co/home-page/feed/" />
<link rel='stylesheet' id='stylesheet-css'  href='http://cantina.co/wp-content/themes/twentythirteen-cantina/stylesheets/style.css?ver=3.6' type='text/css' media='all' />
<script type='text/javascript' src='http://cantina.co/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://cantina.co/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://cantina.co/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://cantina.co/wp-includes/wlwmanifest.xml" /> 
<link rel='next' title='About' href='http://cantina.co/about/' />
<link rel='canonical' href='http://cantina.co/' />
    <style type="text/css" id="twentythirteen-header-css">
            .site-title,
        .site-description {
            position: absolute;
            clip: rect(1px 1px 1px 1px); /* IE7 */
            clip: rect(1px, 1px, 1px, 1px);
        }
            .site-header .home-link {
            min-height: 0;
        }
    </style>
</head>

<body>
    <%= render 'layouts/header' %>
    <div class ="container">
        <%= yield %>
        <%= render 'layouts/footer' %>
    </div>
</body>

</html>